# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Flask
instance/

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded files
static/uploads/*

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
